
@layer utilities {
  /* Gradient effect */
  .gradient-shift {
    background-size: 200% 200%;
    will-change: background-position;
    animation: gradient-animation 5s ease infinite;
  }
  
  @keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
}
